:root {
    --primary: #FBDA61; 
    --secundary: background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    ;
    --light: white;
    --dark: black;
    --disabled: #d8d8d8;
}

body {
  margin: 0;
  font-family: "Arima", cursive;
  background-color: var(--secundary);
  height: 100vh;
}

*:first-letter {
    text-transform: capitalize;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  margin: 3vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-style: oblique;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 7vh;
  background-color: var(--primary);

}

.container h1 {
  color: white;
  font-size: xx-large
}


#dia_texto {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;


}

.boton_añadir_tarea {
  border-radius: 50%;
  font-size: 18px;

}

.boton_ordenar_tareas{
  background-color: var(--light);
  border: var(--dark);
  border-radius: 20px;
  padding-left: 10px;
  

}

input {
  border: var(--dark);
  border-radius: 20px;
  padding-left: 10px;
  
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 30px auto;
  grid-column-gap: 15px;
}



.tarea {
  padding: 4px;
  margin-top: 15px;
  max-width: 70vh;
  min-width: 10vh;
  color: var(--light);
  cursor: pointer;
  background-color: #FF5ACD;
  border-radius: 10px;
}

.hecho {
  background-color: var(--disabled);
  text-decoration: line-through;
  color: var(--dark);
}